/* 導覽列 */

.header_logo {
    width: 185px;
}

.header_menu {
    width: 30px;
}

.navbar {
    padding: 12px 60px;
    background-color: white !important;
    box-shadow: 0 2px 5px #cccccc;
}

@media screen and (max-width: 320px) {
    .navbar {
        padding: 12px 20px;
    }
}

.navbar__icon-bar {
    width: 22px;
    height: 2px;
    background-color: #6CA287;
    display: block;
    transition: all 0.2s ease-in-out;
    margin: 4px 0;
}

@media screen and (max-width: 768px) {

    /* if unclick hamburger menu */
    .navbar-toggler[aria-expanded="false"]  
    .navbar__icon-bar {
       transform: rotate(0);
    }
 
    /* hover unclick hamburger menu */
    .navbar-toggler[aria-expanded="false"]:hover 
    .navbar__icon-bar:nth-child(1) {
       transform: translateY(-0.2rem);
    }
 
    .navbar-toggler[aria-expanded="false"]:hover 
    .navbar__icon-bar:nth-child(2) {
       transform: translateY(0.15rem);
    }
 
    /* if click hamburger menu */
    .navbar-toggler[aria-expanded="true"] 
    .navbar__icon-bar:nth-child(1) {
       transform: rotate(45deg);
       transform-origin: 29% 10%;
    }
 
    .navbar-toggler[aria-expanded="true"]  
    .navbar__icon-bar:nth-child(2) {
       transform: rotate(-45deg);
       transform-origin: 29% 90%;
    }
 
 }

.nav-link {
    color: #6CA287 !important;
    font-family: 'Noto Sans TC';
    font-weight: 400;
    font-size: 16px !important;
}
.nav-link:hover {
    color: #E5DD91 !important;
}

.navbar-toggler {
    border: 0px;
    padding: 10px;
}

.btn-home {
    width: 15px;
}

.btn-home:hover {
    content: url(../img/home_hover.png);
}

.btn-facebook {
    width: 20px;
}

.btn-facebook:hover {
    content: url(../img/facebook_hover.png);
}

.btn-ininstagram {
    width: 20px;
}

.btn-ininstagram:hover {
    content: url(../img/instagram_hover.png);
}

/*內容*/

main{
    /* margin-left: 20px; */
    margin-top: 42px;
}

.main_menu_xiou{
    font-family: 'Noto Sans TC', sans-serif;
    font-style: bold;
    font-size: 18px;
    color: #696868;

    margin-left: 35px;
    margin-bottom: 40px;
}

.main_cuisine{
    box-sizing: border-box;
    width: 100%;
    height: 442px;

    margin-top: 10px;

    margin: auto;
}

.main_cuisine_pic1{
    margin-right: 20px;
    display: flex;
}

.main_cuisine_pic2{
    display: flex;
    margin-top: -442px;
    margin-left: 838px;
}

.main_cuisine_pic3{
    display: flex;
    margin-top: 20px;
    margin-left: 838px;
}

.main_cuisine_pic4{
    display: flex;
    margin-top: -205px;
    margin-left: 1089px;
}

.main_instr{
    font-family: 'Noto Sans TC', sans-serif;
    font-style: normal;
    font-size: 12px;
    color: #808080;

    margin:40px 55px;
}


.main_menu{
    font-family: 'Noto Sans TC', sans-serif;
    font-style: bold;
    font-size: 16px;
    color: #808080;

    margin: 60px 55px 40px 55px;
}

.main_menu_pics{
    box-sizing: border-box;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.main_menu1{
    margin-bottom: 40px;
}

.main_menu_icon3_pic{
    margin: 1% 0 2% 0 ;
}

#menu_smclass{
    font-family: 'Noto Sans TC', sans-serif;
    font-style: bold;
    font-size: 14px;
    color: #2b2b2b;
    font-weight: 400;
    margin-top: 10%;
}

#menu_sm{
    font-size: 10px;
    background-color: #e2f7ec;

    width: 100%;
    height: 1.7%;

    align-self: center;
}

@media screen and (max-width: 768px) {

    .main_cuisine{
        box-sizing: border-box;
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;

        margin-bottom: 20px;
    }

    .main_cuisine_pic1{
        width: 100%;
        height: auto;
        display: flex;

        margin: auto;
    }
    
    .main_cuisine_pic2{
        width: 100%;
        height: auto;
        display: flex;

        margin-left: 0px;
        margin-top: 20px;
    }
    
    .main_cuisine_pic3{
        width: 47%;
        height: auto;
        margin-top: 20px;
        margin-left: 0px;
    }

    .main_cuisine_pic4{
        width: 47%;
        height: auto;
        margin-top: 0px;
        margin-left: 0px;
    }

}

@media screen and (max-width: 990px) {

    .main_cuisine{
        box-sizing: border-box;
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;

        margin-bottom: 20px;
    }

    .main_cuisine_pic1{
        width: 100%;
        height: auto;
        display: flex;

        margin: auto;
    }
    
    .main_cuisine_pic2{
        width: 100%;
        height: auto;
        display: flex;

        margin-left: 0px;
        margin-top: 20px;
    }

    .main_cuisine_pic3{
        width: 48%;
        height: auto;
        margin-top: 20px;
        margin-left: 0px;
    }

    .main_cuisine_pic4{
        width: 48%;
        height: auto;
        margin-top: -42.7%;
        margin-left: 52%;
    }
}

.menu{
    margin: auto;
    margin-bottom: 40px;
}

@media screen and (min-width:990px){
    .menu{
        margin-left: 40px;
    }
}

.main_menu_class{
    margin-bottom: 0 !important;
    font-size: 14px !important;
    border-bottom: #696868 1px solid;
    padding-bottom: 5px;
}

.menu p{
    font-family: 'Noto Sans TC', sans-serif;
    font-style: bold;
    font-size: 12px;
    color: #808080;
}

@media screen and (max-width:768px){
    .menu{
        margin-left: 40px;
    }

    .main_menu_icon{
        margin-top: 40px;
    }


    .main_menu_line2{
        margin-bottom: 5% !important;
    }

    .main_menu_line3{
        margin-bottom: 5% !important;
    }

    .main_menu_line4{
        margin-bottom: 5% !important;
    }
}

.main_menu_line1{
    background-color: #696868;
    width: 100%;
    height: 1px;
    margin-bottom: 10%;
}

.main_menu_line2{
    background-color: #696868;
    width: 100%;
    height: 1px;
    margin-bottom: 10%;
}

.main_menu_line3{
    background-color: #696868;
    width: 100%;
    height: 1px;
    margin-bottom: 10%;
}

.main_menu_line4{
    background-color: #696868;
    width: 100%;
    height: 1px;
    margin-bottom: 10%;
}

.space {
    margin-top: 24.5px;
}

.main_menu_icon_pic {
    width: 15% !important;
    height: auto;
}

/*footer*/

footer {
    background-color: #6ca287;
    padding: 20px 10px;
}


.footer_all {
    display: flex;
    justify-self: center;
}

.footer-icon {
    height: 20px;
}

.footer-text {
    color: white;
    font-family: 'Noto Sans TC';
    font-weight: 300;
    font-size: 12px;

    margin-left: 10px;
}

.footer-copy {
    color: white;
    font-family: 'Noto Sans TC';
    font-weight: 300;
    font-size: 12px;
}