/* 導覽列 */

.header_logo {
    width: 185px;
}

.header_menu {
    width: 30px;
}

.navbar {
    padding: 12px 60px;
    background-color: white !important;
    box-shadow: 0 2px 5px #cccccc;
}

@media screen and (max-width: 320px) {
    .navbar {
        padding: 12px 20px;
    }
}

.navbar__icon-bar {
    width: 22px;
    height: 2px;
    background-color: #6CA287;
    display: block;
    transition: all 0.2s ease-in-out;
    margin: 4px 0;
}

@media screen and (max-width: 768px) {

    /* if unclick hamburger menu */
    .navbar-toggler[aria-expanded="false"]  
    .navbar__icon-bar {
       transform: rotate(0);
    }
 
    /* hover unclick hamburger menu */
    .navbar-toggler[aria-expanded="false"]:hover 
    .navbar__icon-bar:nth-child(1) {
       transform: translateY(-0.2rem);
    }
 
    .navbar-toggler[aria-expanded="false"]:hover 
    .navbar__icon-bar:nth-child(2) {
       transform: translateY(0.15rem);
    }
 
    /* if click hamburger menu */
    .navbar-toggler[aria-expanded="true"] 
    .navbar__icon-bar:nth-child(1) {
       transform: rotate(45deg);
       transform-origin: 29% 10%;
    }
 
    .navbar-toggler[aria-expanded="true"]  
    .navbar__icon-bar:nth-child(2) {
       transform: rotate(-45deg);
       transform-origin: 29% 90%;
    }
 
 }

.nav-link {
    color: #6CA287 !important;
    font-family: 'Noto Sans TC';
    font-weight: 400;
    font-size: 16px !important;
}
.nav-link:hover {
    color: #E5DD91 !important;
}

.navbar-toggler {
    border: 0px;
    padding: 10px;
}

.btn-home {
    width: 15px;
}

.btn-home:hover {
    content: url(../img/home_hover.png);
}

.btn-facebook {
    width: 20px;
}

.btn-facebook:hover {
    content: url(../img/facebook_hover.png);
}

.btn-ininstagram {
    width: 20px;
}

.btn-ininstagram:hover {
    content: url(../img/instagram_hover.png);
}

/*內容*/
/*.custom-container-width {
    max-width: 900px;
}*/

.title {
    margin-top: 40px;
    font-size: 16px;
    font-weight: bold;
    color: #6CA287;
}



.sidebar_md {
    margin-top: 80px;
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .sidebar_md {
        display: none;
    }
}

.side_title {
    font-size: 16px;
}

.shops {
    margin-bottom: 110px;
}

.row {
    
    margin-left: 180px;
}

@media screen and (max-width: 990px) {
    .row {

        margin-left: 30px !important;
    }
}

@media screen and (max-width: 768px) {
    .row {

        margin-left: auto !important;
    }
}

a {
    text-decoration: none
}

.card {
    margin: 20px auto;
    color: #696868;
    border: 0px;

}

.card:hover {
    /* box-shadow: 1px 1px #696868; */

    border-width: 1.8px;
    transition: 0.8s;
}

.img_shop {
    width: 100%;
    border-radius: 5px;
}

.img_shop:hover {
    opacity: 0.7;
    border-radius : 10%;
    transition: 0.5s;

}

@media screen and (max-width: 768px) {
    .img_shop:hover {
        opacity: 0.48;
        transition: 0.5s;
        transform : scale(1);
    }
}


.list_icon {
    width: 14px;
    height: 14px;
}



ul li {
    list-style-type: none;
    text-decoration: none;
}



.rank {
    font-size: 12px;
}


.side_bar {
    margin-top: 20px;
}

.side_text {
    font-size: 12px;
    margin: 8px auto;
}

.side_icon {
    width: 12px;
    height: 12px;
}

.list_title {
    margin:0px;
    margin-top: 13px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: #696868 1px solid;
    padding-bottom: 3px;
}

.list_title:hover {
    color: #6CA287;
    transition: 0.2s;
}

.list_item {
    font-size: 12px;
    margin-bottom: 10px;
}

.number {
    font-size: 12px;
    margin: 5px 0;
}

.list_icon {
    margin: 0 5px;
}

@media screen and (max-width: 768px) {
    .side_bar {
        display: none;
    }

}

/*footer*/

footer {
    background-color: #6CA287;
    padding: 20px 10px;

}


.footer_all {
    display: flex;
    justify-self: center;
}

.footer-icon {
    height: 20px;
}

.footer-text {
    color: white;
    font-family: 'Noto Sans TC';
    font-weight: 300;
    font-size: 12px;

    margin-left: 10px;
}

.footer-copy {
    color: white;
    font-family: 'Noto Sans TC';
    font-weight: 300;
    font-size: 12px;
}